@use '../variables'

.footer-container
    background-color: variables.$footer-primary
    display: flex
    flex-direction: column
    gap:30px

.footer-container p 
    font-size: 10px
    text-align: center
    color: variables.$button-secondary-color

.footer-content p
    font-size: 10px
    text-align: center
    color: variables.$font-primary-color

.footer-content
    padding: 30px 16px 0 16px

.divider
    border: 1px solid #BBBBBB

.made-by
    display: flex
    justify-content: center
    gap: 10px
    align-items: center
    padding-bottom: 30px

.made-by p
    font-size: 12px
    color: variables.$font-primary-color

