@use '../variables'
.request-quote
    background-color: variables.$button-primary-color
    cursor: pointer

.request-quote:hover
    background-color: variables.$button-primary-hover-color
    cursor: pointer

.request-quote-content
    padding: 13px 0
    color: white
    font-size: 14px
    line-height: 19px
    text-align: center
    font-weight: 700


    


    
